#
# .coveragerc to control coverage.py
#

[run]
branch = True
include = 
        imagehash.py
        find_similar_images.py


[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
